<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>
    <form action="/lista" method="get">
        <button type="submit">Lista de compras</button>
    </form>
    <form action="/contacts" method="get">
        <button type="submit">contactos</button>
    </form>
    
    <h1>Lista de compras</h1>
    <h3><%= mensagem %></h3>
   <ul>
    <% for(let i = 0;i < lista.length; i++){  %>
        <li><%= lista[i] %></li>
    <% } %>
   </ul>
    
</body>
</html>